.btn {
	&--product-card {
		flex: 1;
		padding: 0.6em 0.2em;
		text-align: center;
		white-space: nowrap;
	}

	&--size {
		width: 2em;
		border-radius: 0.1em;
		background-color: transparent;
	}

	// Renkli btn'ler
	@each $name, $color in $colors {
        &--#{$name} {
            &:not(.btn--size) {
                background-color: $color;
                border-color: $color;
                color: white;
            }
    
            &.btn--size {
                border-color: $color;
                color: $color;
    
                &.active,
                &:not(:disabled):hover {
                    background-color: darken($color, 10);
                    color: white;
                }
            }
        }
    }
}