.product-card {
  max-width: 45rem;
  // height: 100%;
  background-color: #f5f5f5;
  border-radius: 1rem;

  &__sizes {
    display: flex;
    gap: 0.25rem;
  }

  &__quantity {
    background-color: map-get($colors, "pink");
    color: white;


    // Dropdown açıldığında button rengini korur
    @each $name, $color in $colors {
      &.show > .btn--#{$name} {
        background-color: darken($color, 10);
        border-color: darken($color, 10);
      }
    }
  }

}
